@import '../../node_modules/bootstrap/scss/bootstrap.scss';
*{box-sizing: border-box;}
body{
    margin: 0px;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
header {
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    position: fixed;
    top: 0;

    width: 100%;
    background-color: #EDEDED;
    z-index: 10;
    h2 {
        border: 2px solid black;  
        font-size: 3rem;
        padding: 2px, 15px;
        margin-left: 30px;
        background-color: white;
        font-family: serif;  
    }
    ul {
        
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // list-style-type: none;
        width: 30rem;
        padding-left: 0px;
        h4 {
            font-size: 3rem;
            margin: 0rem;
        }
    }
}
.center{
    display: flex;
    justify-content: center;
    position: relative;
}
main {
    padding-top: 7rem; // this seperates the top from the nav-bar
    margin: 1rem;
    background-color: white;

    .The{
        position: absolute;
        z-index: 1;
        background-color: white;
        font-size: 2rem;
        top:12px;
        margin: 0;
        padding: 0px 10px;
    }
    #Title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 2px solid black;
        width: 38rem;
        padding: 1rem;
        margin-top: 2rem;
        #Mas{
            padding-right: 10rem;
            display: flex;
            justify-content: center;
            font-family: serif;
        }
        #Tail{
            display: flex;
            justify-content: center;
            padding-left: 10rem;
            font-family: serif;
        } 
    }
    
    h1 {
        font-size: 5rem;
        margin: 0rem;
        
    }
    #carouselExampleCaptions{
        margin-top: 3rem;
        #shadow{
            text-shadow: white 1px 0 10px;
        }
    }
    .hrs {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;
        width: 80%;
        margin: auto;
        .hrs-item{
            flex: 1;
            padding: 10px;
            height: 300px;
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            h5{
                font-size: 2.15rem;
            }
            img{
                height: 300px;
            }
        }

    }
    gmp-map{
        width: 100%;
        height: 400px;
        padding-bottom: 25px;
    }
}
#hrs-left{
    background-color: #d9d9d9;
}
.crop-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 30%;
}
.crop-image {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h4{
    font-size: 3rem;
    text-align: center;
}
.map{
    width: 80%;
    margin: auto;
}
// ===== FOOTER =====
footer {
    height: 60px;
    background-color: #565656;
    padding-bottom: 10px;
    
    h6{
        font-size: 2.5rem;
        text-align: center;
        color: white;
    }
}
